# exclude the following files
/deployment/kubernetes/secret.yaml
/notebooks/openai.json
/notebooks/embeddings.json
deployment/kubernetes/openai-credentials.yaml

*.json

# exclude all __pycache__ directories and .pyc files
__pycache__/
*.pyc

# alternatively, to ensure that any __pycache__ folder anywhere in the repository is ignored
**/__pycache__/
**/*.pyc


